<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * @category   BSS
 * @package    Bss_GA4
 * @author     Extension Team
 * @copyright  Copyright (c) 2022-2023 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label> <![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="bss_ga4" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Analytics 4</label>
            <tab>bss</tab>
            <resource>Bss_GA4::config_section</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Config</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Choose 'yes' to enable module.<br>Version 1.0.3]]></comment>
                </field>
                <field id="measurement_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Measurement ID</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>validate-measurement-id</validate>
                    <comment>
                        <model>Bss\GA4\Model\Config\Comment</model>
                    </comment>
                </field>
                <field id="product_identifier" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Identifier</label>
                    <source_model>Bss\GA4\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_brand" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Brand</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <source_model>Bss\GA4\Model\Config\Source\Attribute</source_model>
                    <depends>
                        <field id="enable_brand">1</field>
                    </depends>
                </field>
                <field id="enable_affiliation" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Affiliation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="affiliation_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Affiliation Attribute</label>
                    <source_model>Bss\GA4\Model\Config\Source\Attribute</source_model>
                    <depends>
                        <field id="enable_affiliation">1</field>
                    </depends>
                </field>
                <field id="bundle_price" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get price of bundle product by </label>
                    <source_model>Bss\GA4\Model\Config\Source\PriceBundle</source_model>
                </field>
                <field id="exclude_shipping_transaction" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Shipping From Transaction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_orders_zero_value" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Orders with 0 value</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
