<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * @category   BSS
 * @package    Bss_GA4
 * @author     Extension Team
 * @copyright  Copyright (c) 2022-2022 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList" type="Bss\GA4\Block\CatalogWidget\Product\ProductsList"/>
    <preference for="Magento\Catalog\Block\Product\Widget\NewWidget" type="Bss\GA4\Block\Product\Widget\NewWidget"/>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="bss_view_search_result" type="Bss\GA4\Plugin\Block\Product\SearchResult" sortOrder="1" disabled="false"/>
    </type>
    <type name="Bss\GA4\Block\CatalogWidget\Product\ProductsList">
        <plugin name="bss_get_widget_helper_class" type="Bss\GA4\Plugin\Block\CatalogWidget\Product\ProductsList" sortOrder="1" disabled="false"/>
    </type>
</config>
