<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Chetaru_Team::content_elements"
             title="Chetaru Teams"
             translate="title"
             module="Chetaru_Team"
             sortOrder="10"
             parent="Magento_Backend::content"
             resource="Magento_Backend::admin"/>
        <add id="Chetaru_Team::post"
             title="Manage Teams"
             translate="title"
             module="Chetaru_Team"
             sortOrder="0"
             parent="Chetaru_Team::content_elements"
             action="chetaru_team/post"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
