/* Hide Upload Button  */

input[name="featured_image"] + label.file-uploader-button {
    display: none;
    }

input[name="logo"] + label.file-uploader-button {
    display: none;
    }

input[name="banner_image"] + label.file-uploader-button {
    display: none;
    }

input[name="brand_page_image"] + label.file-uploader-button {
    display: none;
    }

/* Hide Image Previews */

.image-uploader .image-placeholder {
    display: none;
}
