<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <olegnax_quickview>
            <general>
                <enable>1</enable>
                <link_title>1</link_title>
                <hide_desc>0</hide_desc>
                <move_tabs>1</move_tabs>
                <hide_tabs>1</hide_tabs>
                <hide_reviews>1</hide_reviews>
                <hide_sku>1</hide_sku>
                <hide_related>1</hide_related>
                <hide_upsell>1</hide_upsell>
                <force_fotorama>0</force_fotorama>
            </general>
            <loaders>
                <loader_type>-spinner</loader_type>
                <loader_custom></loader_custom>
                <loader_color></loader_color>
            </loaders>
            <modal>
                <enable>0</enable>
                <width></width>
                <height></height>
                <bg_color></bg_color>
                <shadow_color></shadow_color>
                <border_radius></border_radius>
                <modal_padding></modal_padding>
                <modal_padding_m></modal_padding_m>
                <modal_padding_s></modal_padding_s>
                <product_info_padding></product_info_padding>
                <product_info_padding_m></product_info_padding_m>
                <product_info_padding_s></product_info_padding_s>
                <product_blocks_padding></product_blocks_padding>
                <product_blocks_padding_m></product_blocks_padding_m>
                <product_blocks_padding_s></product_blocks_padding_s>
                <product_media_padding></product_media_padding>
                <product_media_padding_m></product_media_padding_m>
                <product_media_padding_s></product_media_padding_s>
                <cms_padding></cms_padding>
                <cms_padding_m></cms_padding_m>
                <cms_padding_s></cms_padding_s>
                <close_btn_size></close_btn_size>
                <close_icon_color></close_icon_color>
                <close_icon_color_hover></close_icon_color_hover>
                <close_bg_color></close_bg_color>
                <close_bg_color_hover></close_bg_color_hover>
                <close_border_size></close_border_size>
                <close_border_color></close_border_color>
                <close_border_color_hover></close_border_color_hover>
                <close_border_radius></close_border_radius>
                <close_btn_top></close_btn_top>
                <close_btn_right></close_btn_right>
            </modal>
        </olegnax_quickview>      
    </default>
</config>
