<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="chetaru_article" frontName="article">
            <module name="Chetaru_Article" />
        </route>
    </router>
</config>
