<?xml version="1.0"?>
<!--
  Copyright © 2022 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<!-- acl for simple google shopping. Visible in the acl treeview of user group rights -->
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wyomind_SimpleGoogleShopping::global" title="Simple Google Shopping" sortOrder="10">
                    <resource id="Wyomind_SimpleGoogleShopping::main" title="Manage data feeds" sortOrder="10">
                        <resource id="Wyomind_SimpleGoogleShopping::create" title="Create feeds" sortOrder="10"/>
                        <resource id="Wyomind_SimpleGoogleShopping::edit" title="Edit feeds" sortOrder="20">
                            <resource id="Wyomind_SimpleGoogleShopping::edit_scripts" title="Edit PHP scripts used in feeds configuration" sortOrder="10"/>
                            <resource id="Wyomind_SimpleGoogleShopping::history" title="See data feed history" sortOrder="10"/>
                        </resource>
                        <resource id="Wyomind_SimpleGoogleShopping::generate" title="Generate feeds" sortOrder="30"/>
                        <resource id="Wyomind_SimpleGoogleShopping::delete" title="Delete feeds" sortOrder="40"/>
                    </resource>
                    <resource id="Wyomind_SimpleGoogleShopping::simplegoogleshopping_config" title="Manage module configuration" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>