<?xml version="1.0"?>
<!--
 Copyright © 2022 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Action History -->
    <virtualType name="Wyomind\SimpleGoogleShopping\Model\Feeds\ActionHistory" type="Wyomind\Framework\Model\ActionHistory">
        <arguments>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="entity" xsi:type="string">Feeds</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Model\ResourceModel\Feeds\ActionHistory" type="Wyomind\Framework\Model\ResourceModel\ActionHistory">
        <arguments>
            <argument name="tableName" xsi:type="string">simplegoogleshopping_feeds</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Model\ResourceModel\Feeds\ActionHistory\Collection" type="Wyomind\Framework\Model\ResourceModel\ActionHistory\Collection">
        <arguments>
            <argument name="tableName" xsi:type="string">simplegoogleshopping_feeds</argument>
        </arguments>
    </virtualType>
        <!-- Grid -->
    <virtualType name="Wyomind\SimpleGoogleShopping\Block\Adminhtml\Feeds\Edit\Tab\ActionHistory" type="Wyomind\Framework\Block\Adminhtml\Edit\Tab\History\ActionHistory">
        <arguments>
            <argument name="tableName" xsi:type="string">simplegoogleshopping_feeds</argument>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="entity" xsi:type="string">Feeds</argument>
        </arguments>
    </virtualType>
    <!-- Version History -->
    <virtualType name="Wyomind\SimpleGoogleShopping\Model\Feeds\VersionHistory" type="Wyomind\Framework\Model\VersionHistory">
        <arguments>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="entity" xsi:type="string">Feeds</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Model\ResourceModel\Feeds\VersionHistory" type="Wyomind\Framework\Model\ResourceModel\VersionHistory">
        <arguments>
            <argument name="tableName" xsi:type="string">simplegoogleshopping_feeds</argument>
        </arguments>
    </virtualType>
    <!-- Progress bar -->
    <virtualType name="Wyomind\SimpleGoogleShopping\Block\Adminhtml\Progress\Status" type="Wyomind\Framework\Block\Adminhtml\Progress\Status">
        <arguments>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="field" xsi:type="string">cron_expr</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Ui\Component\Listing\Column\Status" type="Wyomind\Framework\Ui\Component\Listing\Column\Status">
        <arguments>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="field" xsi:type="string">cron_expr</argument>
            <argument name="id" xsi:type="string">simplegoogleshopping_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Helper\Progress" type="Wyomind\Framework\Helper\Progress">
        <arguments>
            <argument name="module" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="tempDirectory" xsi:type="string">/var/tmp/SimpleGoogleShopping/</argument>
            <argument name="filePrefix" xsi:type="string">feed_</argument>
        </arguments>
    </virtualType>
    <!-- Generation process log -->
    <virtualType name="Wyomind\SimpleGoogleShopping\Logger\Logger" type="\Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SimpleGoogleShopping</argument>
            <argument name="handlers" xsi:type="array">
                <item name="SimpleGoogleShopping" xsi:type="object">Wyomind\SimpleGoogleShopping\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Logger\Handler" type="\Wyomind\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/Wyomind_SimpleGoogleShopping.log</argument>
            <argument name="filePath" xsi:type="string"/>
        </arguments>
    </virtualType>
    <!-- Cron process log-->
    <virtualType name="Wyomind\SimpleGoogleShopping\Logger\LoggerCron" type="\Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SimpleGoogleShoppingCron</argument>
            <argument name="handlers" xsi:type="array">
                <item name="SimpleGoogleShopping" xsi:type="object">Wyomind\SimpleGoogleShopping\Logger\HandlerCron</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wyomind\SimpleGoogleShopping\Logger\HandlerCron" type="\Wyomind\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/Wyomind_SimpleGoogleShoppingCron.log</argument>
            <argument name="filePath" xsi:type="string"/>
        </arguments>
    </virtualType>
    <!-- COMMAND LINE -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sgs_generate" xsi:type="object">Wyomind\SimpleGoogleShopping\Console\Command\Generate</item>
                <item name="sgs_list" xsi:type="object">Wyomind\SimpleGoogleShopping\Console\Command\Listing</item>
            </argument>
        </arguments>
    </type>


    <type name="Wyomind\SimpleGoogleShopping\Controller\Adminhtml\Feeds">
        <arguments>
            <argument name="sgsHelper" xsi:type="object">Wyomind\SimpleGoogleShopping\Helper\Data\Proxy</argument>
            <argument name="sgsModel" xsi:type="object">Wyomind\SimpleGoogleShopping\Model\Feeds\Proxy</argument>
        </arguments>
    </type>

</config>
